
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#f4eae3;
    background-image:linear-gradient(top, #dca983 0%, #f4eae3 51%);
    background-image:-webkit-linear-gradient(top, #dca983 0%, #f4eae3 51%);
    background-image:-ms-linear-gradient(top, #dca983 0%, #f4eae3 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #dca983),
        color-stop(0.51, #f4eae3)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
.content{
	background-color:#ddc0c1;
	position:absolute;   
	height:92%;
    margin:4%;
    padding:0px;
    text-transform:uppercase;
    width:92%;
	border:1px solid #8c8888;
	border-radius:10px;	
	}

/* Portrait layout (default) */
.app {
    background:url(../img/imc.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:40%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:150px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
								   
	 /*margin:-115px 0px 0px -112px;	*/						   
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

label {
    display: block;
    margin:auto;
    width: 40%;
	letter-spacing:2px;
}
input[type='text']{
	margin-bottom:10px;
	/*margin:10px auto;*/
	border-radius:5px;
    -webkit-border-radius:5px;
	background-color:#B09FA0;
	}

.event {
    border-radius:10px;
    -webkit-border-radius:10px;
    color:#FFFFFF;
    font-size:12px;
	height:48px;
	width:48px;
   /* margin:0px 30px;*/
	margin:0px auto;
	margin-top:10px;
    padding:1px 0px;
}

.event.listening {
    background-color:#8f664f;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
